*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

body {
    background-color:rgba(242, 45, 111, 0.875);
    /* justify-content: center; */
    align-content: space-between;
}

.container {
    align-items: center;
 }

header {
    position:relative;
    padding: 0 20px;
    /* background: chocolate; */
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 100;
    /* gap: 1; */
 }

.Logo {
    padding: 25px ;
    font-size: 60px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
.home {
    justify-items: center;
    padding: 50px;
}

.navbar a:hover {
    border-color: rgb(119, 110, 86);
}

.home-detail {
    display: contents;
}

.home-detail h1 {
    font-size: 64px;
    line-height: 1;
    margin: 20px;
    color: rgb(240, 235, 221);
}

.home-detail h2 {
    font-size: 32px;
    line-height: 1;
    padding: 25px;
    margin: 20px;
    color: greenyellow;
}

p {
    font-size: 16px;
    /* padding: 25px;
    margin: 20px; */
    color: ghostwhite;
}

/* ทำ Row เท่ากันทั้งคู่ระหว่าง Experience กับ Education  */

main {
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 40px;
}

.box-1 {
    display: flex;
    background-color: rgb(144, 51, 244);
    border: 2px solid black;
    width: 500px;
}

.colume-1 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.Experience {
    position: relative;
    left: 195px;
    color: blanchedalmond;
    /* background-color: rgb(255, 106, 233);
    width: 150px;
    border: 2px solid black;
    border-radius: 50%; */
}

h3, h4 {
    color: blanchedalmond;
    position: relative;
    left: 25px;
}

li {
    color: rgb(47, 21, 21);
    list-style:circle;
    padding: 2px 2px;
}

.box-2 {
    display: flex;
    background-color: rgb(144, 51, 244);
    border: 2px solid black;
    width: 500px;
}

.Education {
    padding-bottom: 10px;
    position: relative;
    left: 195px;
    color: blanchedalmond;
}

.dowload-social {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: white;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 10px;
}

btn:hover {
    background: transparent;
    box-shadow: none;
    color: white;
}

.social-icon {
    margin-left: 25px;
}

.social-icon, a {
    display: inline-flex;
    padding: 8px;
    /* border: 2px solid white;
    border-radius: 50%; */
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 8px;
}